/* Green Color CSS */

body{
border-top:3px solid #f78f1e;
border-bottom:3px solid #f78f1e;
}

.color{
color:#98aacb;
}

a, a:visited{
color:#98aacb;
}

a:hover{
color:#00467F;
}

   
.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
   border-color: #3ba4c2;
}

.navbar button{
	background:#98aacb !important;  
}

.navbar button:hover{
	background:#00467f !important;
}


.navbar .nav > li > a{
   color: #00467f;
   margin-right: 10px;
   margin-top: 34px;
   font-size: 16px !important;
}

.navbar .nav > li > a:hover,
.navbar .nav > li > a:focus {
   color:#98aacb !important;
   background-color: transparent !important;
}

.navbar .nav .active > a,
.navbar .nav .active > a:hover,
.navbar .nav .active > a:focus {
background: #00467F !important;
}

.dropdown-toggle{
background: #98aacb !important;
}


.dropdown-menu{
background:#98aacb !important;
border:1px solid #00467F;
}

.dropdown-menu a{
background:#98aacb !important;
border-bottom:1px solid #00467F;
}

.dropdown-menu a:hover,.dropdown-menu a:focus{
background:#00467F !important;
}

.social i{
background:#98aacb;
}

.social i:hover{
background:#00467F;
}

.flex-caption{
border-left:4px solid #98aacb;
}

.service i{
color:#98aacb;
}

/* Timeline */

.time .tidate{
background:#98aacb;
}

.time .timatter{
border-bottom:2px solid #98aacb;
}

/* Events - Accordion*/

.events .accordion-heading h5{
background:#98aacb;
}

/* Slider */

.da-slider{
border-top: 4px solid #98aacb;
border-bottom: 4px solid #98aacb;
}

.da-slide h2{
color:#98aacb;
}

.da-slide .da-link{
background:#98aacb;
}

/* Testimonial */

.test{
border-bottom:2px solid #98aacb;
}

.test-arrow{
border-top-color: #98aacb;
}

/* Feature alt */

.afeature:hover{
border:5px solid #98aacb;
}

.afmatter i{
color:#98aacb;
}

.rpost1:hover,.rpost2:hover{
border-bottom:2px solid #98aacb;
}

.accordion-heading i{
color:#98aacb;
}

.process i{
color:#98aacb;
}

.process-meta span{
background:#98aacb;
}

.feat h4 i{
color:#98aacb;
}

.content ul li{
background-image:url('../img/list-b.png');
}

.blog .meta i{
color:#98aacb;
}

.posts .tags a{
background:#98aacb;
border:1px solid #00467F;
border-bottom:3px solid #00467F;
}

.posts .tags a:hover{
border-bottom:3px solid #98aacb;
background:#00467F;
border:1px solid #00467F;
}

.paging a:hover{
background: #98aacb;
border:1px solid #00467F;
}

.paging .current{
background: #98aacb;
border:1px solid #00467F;
}

.serv .simg i{
color:#98aacb;
}

.button a, .button a:visited{
background:#98aacb;
border-bottom:2px solid #00467F;
}

.button a:hover{
background:#00467F;
}

.pricel .phead-top{
background:#98aacb;
border:1px solid #00467F;
}

.pricel .phead-bottom{
border-top:1px solid #00467F;
}

.nav-tabs > li > a:hover{
background:#98aacb;
}

.about .asocial i{
background:#98aacb;
}
.blog h4,
.blog h4 a,
.blog h4 a:visited{
   color: #00467f;   
}
.resume h4{
background:#98aacb;
}

.resume h5{
color:#98aacb;
}

footer{
border-top:3px solid #98aacb;
}

footer ul li{
background-image:url('../img/list-b.png');
}