/* Theme-specific styling
 */
#mainnav {
    background: url("../img/header-back2.png") no-repeat scroll 0 65px #fff;  
}

header {
    background: none center no-repeat #fff;
    padding: 0 0 10p    x 0;
    border-top: 1px solid #f78f1e;
    border-bottom: 0;
}

.navbar {    
    border: none 0 !important;
    min-height: 36px;
}
.navbar-default .glyphicon {
    color: #777777;
}

.navbar .nav > li.selected > a {
    color: #F78F1E;
}
.navbar-brand {
    padding: 0;
}
#edit-bar{
    margin-bottom: 2em;
    margin-top: 3em;
}

.flexslider {
    margin: 0 0 20px;
    border-radius: 0 0 0 0;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
}
.flex-control-nav {
    bottom: -40px;
    left: 30%;
    position: absolute;
    text-align: center;
    width: 40%;
}
.flex-caption {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
    bottom: 0;
    display: block;
    left: 0;
    margin: 0;
    padding: 10px;
    position: absolute;
    width: 37%;
}
.flex-caption a {
    color: #ffffff;
    border-bottom: solid 1px white;
}
.flex-control-paging li a {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.3);
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3) inset;
    cursor: pointer;
    display: block;
    height: 11px;
    text-indent: -9999px;
    width: 11px;
}

.flex-control-paging li a.flex-active {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.6);
    cursor: default;
}
.template-erickahomepageview h2 {
    margin: 15px 0;
}



.blog .bthumb2 {
    float: none;
    display: inline-block;
}
.blog .meta {
    text-transform: none;
}

.blog .item {
    margin-bottom: 20px;
}
.service i {
    font-size: 14px;
}
.service p {
    font-size: 14px;
    line-height: 20px;
}
.service img {
    margin-bottom: 10px;
}

div.thumbnail {
    margin-right: 1rem;
}
.label {
    color: #000000;
}
h2.tileHeadline {
    color: #00467F;
}
iframe .view-cap, .view-container-border {
    background-color: red!important;
}
.breadcrumb {
    padding: 10px 15px 0 15px;
    margin: 45px 0 0;
    background: 0 none;
    border-top: solid 1px #eee;
}
#breadcrumbs-you-are-here {
    padding-right: 5px;
}
#portal-personaltools dd {
    background-color: #fff;
    color: #98aacb;
    top: 22px;
    margin-left: -8em;
}
#portal-personaltools dt a:hover,
#portal-personaltools dd a:hover {
    color: #98aacb;
}
dl.actionMenu.activated dd {
    border-left: solid 1px #98aacb;
    border-right: solid 1px #98aacb;
    border-bottom: solid 1px #98aacb;
}
.dl-horizontal dt {
    width: 100px;
    text-align: left;
    padding: 4px 0;
}
.dl-horizontal dd {
    margin-left: 110px;
    padding: 4px 0;
}

.well h4 {
    padding: 11px 0 4px;
}
.well dl {
    margin-top: 0;
    margin-bottom: 0;
}
.well .dl-horizontal dt {
    width: 10px;
    padding: 0;
}
.well .dl-horizontal dd {
    margin-left: 20px;
    padding: 0;
}
.row.nestedfolder {
    margin-bottom: 10px;
}
/* copy main-box to portlet */
.portlet {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #F9F9F9;
    border-color: #EEEEEE;
    border-image: none;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px 1px 3px;
    padding: 8px 10px;
}
.portletNews .portletItem {
    border-bottom: solid 1px #eeeeee;
}
.portletNews .portletItemDetails {
    display: block;
    padding-left: 1rem;
    font-style: italic;
}

.portletNavigationTree h4 {
    display: none;
}
a.navTreeCurrentItem {
    color: #F78F1E;
}
#partners {
    margin: 20px 0;
}
#partners h3 {
    margin-bottom: 10px;
}
.colophon {
    padding : 15px;
    color: #444;
}
.colophon a {
    color: #444;
}
footer {
    background: none #ffffff;
    color: #fff;
}
footer h3 {
    color: #00467F;
}
footer a {
    color: #fff;
}
footer #contact {
    background: none #98aacb
}


@media screen and (max-width:768px) {
    #mainnav {
        background: none 0;
    }
    .navbar .nav > li > a {
        margin-top: 4px;
    }
}


